@model Bakery.Models.ViewModels.CTSanPhamVM

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CTSP.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP.GiaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP.GiaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP.MotaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP.MotaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP.Sao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP.Sao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP.SoLuotDanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP.SoLuotDanhGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP.SoluongSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP.SoluongSP)
        </dd>

    </dl>

	<form action="/" method="post">
		<input type="submit" value="Them vao gio hang" />
    </form>
	<hr />
	<div>Cac Danh Gia:</div>
    @foreach (var x in Model.DanhGia) { 
        <div>
			<h3>@x.TaiKhoan</h3>
			<div>@x.SoSaoDanhGia</div>
			<p>@x.NoiDungDanhGia</p>
			<hr />
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CTSP.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
