@model IEnumerable<Bakery.Models.sp_DSSP_Result>

@{
	ViewBag.Title = "Index";
}

@section Styles {
	<link href="~/Content/styles/sanpham.css" rel="stylesheet" type="text/css" />
}

@{var p = Request.Params;}

<div class="product-page">
	<div class="m-container">

		<div class="m-header">Loại sản phẩm</div>
		<div class="slider-container" style="--slide-width: calc(70vw / 8); --slide-height: calc(70vw / 8);" data-limit="8">
			<div class="move-slide next-slide">
				<svg xmlns="http://www.w3.org/2000/svg"
					 viewBox="0 0 448 512">
					<path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
				</svg>
			</div>
			<div class="move-slide prev-slide">
				<svg xmlns="http://www.w3.org/2000/svg"
					 viewBox="0 0 448 512">
					<path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
				</svg>
			</div>
			<input type="text" name="maloai" value="@p["maloai"]" form="product-frm" id="cateEl" hidden />
			<div class="slider">

				@foreach (var x in ((List<Bakery.Models.sp_ds_loaisp_Result>)ViewBag.loai))
				{
					<div class="slider-item @(p["maloai"] == x.MaLoai+""?"selected":"")" data-cateid="@x.MaLoai" onclick="selectCate(event)">
						<div class="img-wrapper">
							<img src="@x.cate_img" alt="">
						</div>
						<div class="item-title">
							@x.TenLoai
						</div>
					</div>
				}
			</div>
		</div>

		<div class="product-header">
			<div class="m-header">Sản phẩm</div>
			<div class="sort">
				<div style="white-space: nowrap; margin-right: 20px">Sắp xếp theo:</div>
				@Html.DropDownList("orderOpt", null, "Mới nhất", htmlAttributes: new { @class = "form-control", form= "product-frm", onchange = "searchProduct()" })
			</div>
		</div>

		@if (!String.IsNullOrEmpty(p["keyword"])) { 
			<p><i>Hiển thị kết quả cho từ khóa "@p["keyword"]"</i></p>
		}
		<div class="product-list">

			@foreach (var x in Model)
			{
				<div class="product">
					<div class="img-wrapper">
						<img src="@x.img" alt="">
					</div>
					<div class="name">@x.TenSP</div>
					<div class="star">
						@x.Sao / 5
						<img class="icon" src="https://www.iconarchive.com/download/i103490/paomedia/small-n-flat/star.ico" alt="">
						<i>(@x.SoLuotDanhGia đánh giá)</i>
					</div>
					<div class="price">@string.Format("{0:N0}", x.GiaSP) đ</div>
				</div>
			}

		</div>

		<div class="pager">
			@for (int i = 1; i <= ViewBag.PageCount; i++)
			{
				<div class="page @((i == 1 && String.IsNullOrEmpty(p["page"])) || (i + "" == p["page"]) ? "selected" : "")"
					 onclick="changePage(event)">@i</div>
				}
		</div>
	</div>
</div>

@section scripts {
	<script>

		function changePage(e) {
			const page = $(e.target).html();
			$(pageNumEl).val(page);
			searchProduct();
		}

		function selectCate(e) {
			let id = $(e.currentTarget).data('cateid');
			if (id == $('#cateEl').val()) id = "";
			$('#cateEl').val(id);
			searchProduct();
		}

	</script>
}

