@model IEnumerable<Bakery.Models.HoaDon>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách hóa đơn</h2>

<button type="button" class="btn btn-primary mt-3 mb-3">@Html.ActionLink("Tạo mới", "Create")</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.NgayHD.Value.ToShortDateString()
        </td>
        <td>
            @(item.TinhTrangGiao.HasValue && item.TinhTrangGiao.Value? "Đã giao" : "Chưa giao")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaHD }) |
            @Html.ActionLink("Xem", "Details", new { id=item.MaHD }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaHD })
        </td>
    </tr>
}

</table>
