@model Bakery.Models.ViewModels.CTKHVM

@{
	ViewBag.Title = "Details";
}

@section Styles {
	<link href="~/Content/styles/ctkh.css" rel="stylesheet" type="text/css" />
}

<div class="user-page">
	<div class="top">
		THÔNG TIN CÁ NHÂN
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png"
			 alt="" class="avatar">
	</div>

	<div class="m-container">
		<div class="info">
			<div class="m-row">
				<div class="name">Tên: <span class="value">@Model.kh.TenKH</span></div>
				<div class="gender">Giới tính: @Model.kh.GioiTinh</div>
			</div>
			<div class="m-row">
				<div class="phone">sdt: @Model.kh.SoDienThoai</div>
				<div class="date">Ngày sinh: @Model.kh.NgaySinh.Value.ToShortDateString()</div>
			</div>
		</div>

		<div class="history">

			<div class="title">Lịch sử mua hàng:</div>
			@foreach (var x in Model.hds)
			{
				<div class="item">
					<div class="date">@x.hd.NgayHD.Value.ToShortDateString()</div>
					<div class="state">@(x.hd.TinhTrangGiao.HasValue && x.hd.TinhTrangGiao.Value? "Đã giao" : "Chưa giao")</div>
					<ul>
						@foreach (var y in x.cthds)
						{
							<li>
								<span class="name">@y.TenSP</span>
								- <span class="price">@string.Format("{0:N0}", (y.DonGia - (y.GiamGia.HasValue ? y.GiamGia : 0)))</span>
								x <span class="quantity">@y.SoLuong</span>
							</li>
						}
					</ul>

					@if (x.hd.TinhTrangGiao.HasValue && x.hd.TinhTrangGiao.Value)
					{
						if (x.cthds.Any(y => y.SoSaoDanhGia.HasValue))
						{
							<p class="review-msg">Đã đánh giá</p>
						}
						else
						{
							<div class="review-btn" onclick="showReviewDialog(@x.hd.MaHD)">Đánh giá</div>
						}
					}
				</div>
			}
		</div>
	</div>
</div>

<div class="dialog-wrapper hidden">
	<div class="dialog-content">
		@foreach (var x in Model.hds)
		{
			<form class="review hidden" method="post" action="AddReview" data-id="@x.hd.MaHD">
				@for (int i = 0; i < x.cthds.Count(); i++)
				{
					<input type="number" name="[@i].MaSP" value="@x.cthds[i].MaSP" hidden />
					<input type="number" name="[@i].MaHD" value="@x.cthds[i].MaHD" hidden />
					<div>@x.cthds[i].TenSP</div>
					<div>
						<label>Số sao</label>
						<input type="number" name="[@i].SoSaoDanhGia" min="1" max="5" value="5" />
					</div>
					<div>
						<label>Nội dung đánh giá</label> <br />
						<input type="text" name="[@i].NoiDungDanhGia" />
					</div>
				}
				<input type="submit" value="Gửi đánh giá" />
			</form>
		}
	</div>
</div>

@section scripts{
	<script>
		function showReviewDialog(id) {
			$('.dialog-wrapper').removeClass('hidden');
			$('.review').addClass('hidden');
			$(`.review[data-id="${id}"]`).removeClass('hidden');
		}
	</script>
}



